NEXT_PUBLIC_SITE_URL=http://localhost:3000
DATABASE_URL=postgresql://username:password@host.example.com:5432/database?sslmode=verify-full
DATABASE_URL_UNPOOLED=postgresql://username:password@host.example.com:5432/database?sslmode=verify-full
SUPERADMIN_PASSWORD=replace-with-a-long-random-password
